@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@300;400;700&family=Nunito:wght@300;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
   
 }
  
 h2, h3 {
    color: #ffffff
 }


 nav a:hover {
    font-size: 18px;
    font-weight: 400 bold;
    text-decoration: none;
 }

 .profile header {
    text-align: center;
 }  

 .profile img, my-profile {
    width: 135px;
    height: 200px;
 }


 .sb-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 500px;
    
    
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    background-color:#60ff6d;
 }

 .my-jumbotron {
    padding: 20px;
    color: white;
    font-size: 20px; 
    background-color: #60ff6d;
    text-align: center;
    
 }

 .sb-card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   background-color:#60ff6d;
}
 

 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }

 nav {
    background-color: #199223;
    padding: 5px;
    position: sticky;
    top: 0;
 }

 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }

 main {
    padding: 20px;
    overflow: auto;
 }

 #content {
    float: left;
    width: 75%;
 }

 aside {
    float: right;
    width: 25%;
    padding-left: 10px;
 }

 * {
    box-sizing: border-box;
 }

 @media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
 }

 header {
    display: inline;
 }

 .slider{
   width: 95%;
   height: 700px;
   border-radius: 10px;
   overflow: hidden;
   box-sizing: border-box;
   margin: auto;
}

.slides{
   width: 700%;
   max-height: 700px;
   display: flex;
}

.slides input{
   display: none;
}

.slide{
   width: 20%;
   transition: 2s;
}

.slide img {
   width: 90%;
   max-height: 700px;
   object-fit: cover;
   object-position: center
}

.navigation-manual{
   position: absolute;
   width: 800px;
   margin-top: -80px;
   display: flex;
   justify-content: center;
   display: none;
   
}

.manual-btn{
   border: 2px solid #60ff03;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
   display: none;
   
}

.manual-btn:not(:last-child){
   margin-right: 40px;
   display: none;
   
}

.manual-btn:hover{
   background:  #00ff2a;
   
}

#radio1:checked ~ .first{
   margin-left: 0;

}

#radio2:checked ~ .first{
   margin-left: -20%;
   
}

#radio3:checked ~ .first{
   margin-left: -40%;
  
}

#radio4:checked ~ .first{
   margin-left: -60%;
   
}

.navigation-auto{
   position: absolute;
   display: flex;
   width: 800px;
   justify-content: center;
   margin-top: 460px;
   display: none;
   
}

.navigation-auto div{
   border: 2px solid #fafa00;
   padding: 5px;
   border-radius: 10px;
   transition: 1s;
   
}

.navigation-auto div:not(:last-child){
   margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
   background: #fafa00;
   
}

#radio2:checked ~ .navigation-auto .auto-btn2{
   background: #fafa00;
   
}

#radio3:checked ~ .navigation-auto .auto-btn3{
   background: #fafa00;
   
}

#radio4:checked ~ .navigation-auto .auto-btn4{
   background:#fafa00;
   
}   

footer {
    padding: 20px;
    color: white;
    background-color: #60ff6d;
    text-align: center;
    font-weight: bold;
 }